.flyoutWrapper {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  width: 420px;
  padding: 10px;

  margin: 15px auto;

  border: 1px solid black;
}

.flyoutWrapperDark {
  border: 1px solid white;
  color: white
}

.flyoutText {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.flyoutButton {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  outline: none;
  background: #fff;
  width: 130px;
  height: 50px;
}

.flyoutButton:hover {
  background: black;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.dark {
  border: 1px solid black;
  color: white;
  background-color: black;
}

.dark:hover {
  background: white;
  color: black;
  border: 1px solid white;
}